<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <header>
    <%- include('./partials/header.ejs')%>
  </header>
  <style>
    img {
        height: 150px;
        border: solid goldenrod 3px;
        border-radius: 15px;
    }
    

  </style>
  <body>
    <ul >
      <%  for(let i = 0; i < products.length; i++) { %>
        <li>
          <h2><strong> <%=products[i].name%></strong></h2>
          <a href="/store/<%=products[i]._id%>"><img src="<%=products[i].img%>" /></a><br>
        </li>
      <% } %>
    </ul>
  </body>
</html>