<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <header>
    <%- include('./partials/header.ejs')%>
  </header>
  <body>

    <nav>
    </nav>
    <div class="showBox">
          <h2><strong><%=product.name%></strong></h2><br>
          <h3>Provides: <%=product.description%></h3><br>
          <img src="<%=product.img%>" /><br>
          <h4>Available Quantity: <%=product.qty%></h4><br>
          <h4>Price: $<%=product.price%></h4>
    </div>
  </body>
</html>